:root {
    --beige: #e8dfce;
    --beige-dark: #d8ccb4;
    --red: #a5392f;
    --red-dark: #7e2b23;
    --black: #201c18;
    --ink: #2b2520;
}


@font-face {
    font-family: "RuneFate-Regular";
    src: url("/RuneFate-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "SilverShard-Regular";
    src: url("/SilverShard-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


body{
    background-color: #f6f0e6;
}


@media(max-width:442px) {
    .frame{
        min-height: 100dvh;
    }

    #title {
        letter-spacing: 2px;
       
        
    }
    
}

